.container {
    max-width: 960px;
}

.lh-condensed {
    line-height: 1.25;
}

.btn-save {
    background-color: #fd7e14;
    border-color: #fd7e14;
}

.btn-save:hover {
    background-color: #1D1C1B;
    border-color: #1D1C1B;
}


/*para el header*/

.site-header {
    background-color: #1d1c1b;
    -webkit-backdrop-filter: saturate(180%) blur(20px);
    backdrop-filter: saturate(180%) blur(20px);
}

.site-header a {
    color: white;
    transition: ease-in-out color 0.15s;
}

.site-header a:hover {
    color: #fd7e14;
    text-decoration: none;
}

.nav-link.dropdown-toggle:hover,
.nav-link.dropdown-toggle:active {
    border-color: #1d1c1b;
}

.site-header .nav-item .dropdown-menu {
    /* background-color: hsla(27, 98%, 54%, 0.85); */
    background-color: #1d1c1b;
}

.nav-tabs .nav-item.show .nav-link,
.nav-tabs .nav-link.active {
    background-color: #1d1c1b !important;
    color: #fd7e14;
}

.site-header .nav-item .dropdown-menu .dropdown-item:hover,
.site-header .nav-item .dropdown-menu .dropdown-item:active {
    background-color: #fd7e14;
    color: white;
}