.container {
  max-width: 960px;
}

/*
 * Custom translucent site header
 */

.site-header {
  background-color: #1D1C1B;
  -webkit-backdrop-filter: saturate(180%) blur(20px);
  backdrop-filter: saturate(180%) blur(20px);
}
.site-header a {
  color: white;
  transition: ease-in-out color .15s;
}
.site-header a:hover {
  color: #fd7e14;
  text-decoration: none;
}

.nav-link.dropdown-toggle:hover, 
.nav-link.dropdown-toggle:active {
  border-color: #1D1C1B;
}

.site-header .nav-item .dropdown-menu {
  /* background-color: hsla(27, 98%, 54%, 0.85); */
  background-color: #fd7e14;
}

.site-header .nav-item .dropdown-menu .dropdown-item:hover, 
.site-header .nav-item .dropdown-menu .dropdown-item:active {
  background-color: #1D1C1B;
  color: white;
}

/*
 * Dummy devices (replace them with your own or something else entirely!)
 */

/* .product-device {
  position: absolute;
  right: 10%;
  bottom: -30%;
  width: 300px;
  height: 540px;
  background-color: #333;
  border-radius: 21px;
  -webkit-transform: rotate(30deg);
  transform: rotate(30deg);
}

.product-device::before {
  position: absolute;
  top: 10%;
  right: 10px;
  bottom: 10%;
  left: 10px;
  content: "";
  background-color: rgba(255, 255, 255, .1);
  border-radius: 5px;
}

.product-device-2 {
  top: -25%;
  right: auto;
  bottom: 0;
  left: 5%;
  background-color: #e5e5e5;
} */


/*
 * Extra utilities
 */

.flex-equal > * {
  -ms-flex: 1;
  flex: 1;
}
@media (min-width: 768px) {
  .flex-md-equal > * {
    -ms-flex: 1;
    flex: 1;
  }
}

.overflow-hidden { overflow: hidden; }


