.container {
  max-width: 960px;
}

.cn {
  min-height: 100%;
  height: auto !important;
  height: 80%;
  margin: 0 auto -8em;
}

/* HEADER */
.site-header {
  background-color: #1d1c1b;
  -webkit-backdrop-filter: saturate(180%) blur(20px);
  backdrop-filter: saturate(180%) blur(20px);
}

.site-header a {
  color: white;
  transition: ease-in-out color 0.15s;
}

.site-header a:hover {
  color: #fd7e14;
  text-decoration: none;
}

.site-header .nav-item .dropdown-menu {
  background-color: #1d1c1b;
}

/* Color de los desplegables del header */
.nav-tabs .nav-item.show .nav-link,
.nav-tabs .nav-link.active,
.nav-tabs .nav-link:hover {
  background-color: #1d1c1b !important;
  color: #fd7e14;
  border-color: #1d1c1b;
}

/* Color del contenido de los desplegables cuando se pasa por encima */
.site-header .nav-item .dropdown-menu .dropdown-item:hover,
.site-header .nav-item .dropdown-menu .dropdown-item:active {
  background-color: #fd7e14;
  color: white;
}

/* FOOTER */
footer {
  background-color: #1d1c1b;
  color: #fd7e14;
  padding: 2px;
  /* width: 99%; */
  /* position: relative;
  bottom: 0%;*/
}
